# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db

# Quarto
/.quarto/
_site/
site_libs/
_extensions/
**/*.quarto_ipynb
.luarc.json

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.tex

# Notes (local only)
notes/

/*.html